@font-face {
  font-family: "iconfont"; /* Project id 2565240 */
  src: url('iconfont.woff2?t=1621694535889') format('woff2'),
       url('iconfont.woff?t=1621694535889') format('woff'),
       url('iconfont.ttf?t=1621694535889') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huangjinjintiao:before {
  content: "\e69e";
}

.icon-icon-test:before {
  content: "\e66b";
}

.icon-kaixin:before {
  content: "\e66a";
}

.icon-shuijue:before {
  content: "\e6c9";
}

.icon-pengyouquan:before {
  content: "\e667";
}

.icon-shangxinbiaoqing:before {
  content: "\e69d";
}

.icon-danche:before {
  content: "\e688";
}

.icon-fengjing:before {
  content: "\e7a1";
}

.icon-zhentou:before {
  content: "\e633";
}

.icon-laba:before {
  content: "\ec40";
}

.icon-meinv:before {
  content: "\e651";
}

.icon-taiyang:before {
  content: "\e724";
}

.icon-wunai:before {
  content: "\e61a";
}

.icon-maomi:before {
  content: "\e602";
}

.icon-Artboard:before {
  content: "\edc9";
}


.icon-chazhaobiaodanliebiao:before {
  content: "\e76a";
}

.icon-yinfu:before {
  content: "\e649";
}

.icon-gwc:before {
  content: "\e674";
}

.icon-wodedangxuan:before {
  content: "\e607";
}

